addons:
  apt:
    packages:
      - gcc
      - libcmocka-dev
      - maven
      - python-logilab-common

script:
  - cd day_5/part_1
  - ./build_main.sh
  - ./build_tests.sh
  - ./test
  - cd ../..
  - cd day_5/part_2
  - ./build_main.sh
  - ./build_tests.sh
  - ./test
  - cd ../..
  - cd day_6/puzzle_1
  - mvn package
  - cd ../puzzle_2
  - mvn package
  - cd ../..
  - cd day_7/puzzle_1
  - pytest test.py
  - cd ../..
  - cd day_8/part_1
  - ./build_main.sh
  - ./build_tests.sh
  - ./test
  - cd ../..
